
/*-----display------*/
.display{
    display: flex;
}
.fw{
flex-wrap: wrap;
}
.f1{
    flex: 1;
}

.jcsb{
     justify-content: space-between;
}
.jc{
    justify-content: center;
}
.al{
    align-items: center;
}
.tac{
text-align: center;
}
.fcl{
    flex-direction: column;
}
.fdr{
    flex-direction: row;
}
.db{
    display: block;
}
.dib{
    display: inline-block;
}


.g1{
    gap: 1;
}
.g2{
    gap: 2;
}
.g3{
    gap: 3;
}
.g4{
    gap: 4;
}
.g5{
    gap: 5;
}
.g10{
    gap: 10;
}
.g15{
    gap: 15;
}
.g20{
    gap: 20px;
}
.g40{
    gap: 40px;
}
.g68{
    gap: 68px;
}
.g80{
    gap: 80px;
}


/*----background-color--*/
.background{
    background-color: rgba(17, 28, 38, 1);
}
.bg000{
    background-color: #000;
}
.bwhite{
    background-color: white;
}
.bc1DE9B6{
    background-color: #1DE9B6;
}
.bc111c26{
    background-color: #111C26;
}
.blinear{
     background: linear-gradient(to right, #000, #1DE9B6);
}
.blinearleft{
     background: linear-gradient(to left, #000, #1DE9B6);
}

/*----color ----*/

.c1DE9B6{
    color: #32d6ad;
}
.c666666{
    color: #666666;
}
 
.color{
    color: white;
}
.c111C26{
    color: #111C26;
}
.black{
    color: #000;
}
.c1ce9b5{
    color:#1ce9b5;
}

/*----font-size ---*/
.f1{
    font-size: 1;
}
.f2{
    font-size: 2px;
}
.f3{
    font-size: 3px;
}
.f12{
    font-size: 12px;
}
.f14{
    font-size: 14px;
}
.f16{
    font-size: 16px;
}
.f18{
    font-size: 18px;
}
.f20{
    font-size: 20px;
}
.f22{
    font-size: 22px;
}
.f26{
    font-size: 26px;
}
.f30{
    font-size: 30px;
}
.f36{
    font-size: 36px;
}
.f48{
    font-size: 48px;
}
.f50{
    font-size: 50px;
}
.f80{
    font-size: 80px;
}
.f100{
    font-size: 100px;
}
/*----font-weight ----*/
.fw500{
    font-weight: 500;
}
.fw600{
    font-weight: 600;
}

.fw700{
    font-weight: 700;
}
.fw900{
    font-weight: 900;
}
.fw400{
    font-weight: 400;
}

/*-----margin ----*/
.ma{
    margin: auto;
}
.mt2{
    margin-top: 2px;
}
.m30{
    margin-top: 30px;
}
.mb5{
    margin-bottom: 5px;
}
.mb7{
    margin-bottom: 7px;
}
.mb15{
    margin-bottom: 15px;
}
.mb60{
    margin-bottom: 60px;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.mb42{
    margin-bottom: 42px;
}
.mb58{
    margin-bottom: 58px;
}
.mb80{
    margin-bottom: 80px;
}
.mb100{
    margin-bottom: 100px;
}
.m40{
      margin: 4px 0;
}

/*-----padding------*/

.pt40{
    padding-top: 40px;
}
.pb40{
    padding-bottom: 80px;
}
.pb60{
    padding-bottom: 60px;
}

.pl40{
    padding-left: 50px;
}
.pr40{
    padding-right: 50px;
}
.p60{
    padding: 60px;
}
.p1224{
    padding: 12px 24px;
}
/*----border ----*/
.bn{
    border: none;
}
.b25{
    border-radius: 25px;
}
.bl{
border-left: 2px solid #ccc;
}



/*----line-height-----*/
.l1{
    line-height: 1;
}
.lh1{
    line-height: 1.2;
}
.l30{
    line-height: 30px;
}
.l3{
    line-height: 1.375;
}
.l22{
    line-height: 22px;
}
.l55{
    line-height: 55px;
}

.cursor{
    cursor: pointer;
}

.span{
    color: rgba(255, 255, 255, 1);
}



/*---width---*/


.w100{
    width: 100px;
}

.w504{
    width: 504px;
}
.minw{
    min-width: 300px;
}
.w408{
    width: 408px;
}
.w508{
    width: 508px;
}
/*---height --*/
.h100{
    height: 100px;
}
/*-----position ---*/
.prel{
    position: relative;
}
/*----box ----*/
.box{
    height: 386px;
    width: 478px;
    border: 1px solid black;
    border-radius: 20px;
}
.box2{
    width: 1px;
    height: 386px;
    background-color: gray;
}
.box3{
   height: 20px;
    width: 36px;
    border: 1px solid black;
    border-radius: 4px;
}
.box4{
   color: white;
    background-color: #1DE9B6;
    padding: 22px 20px 23px ;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 rgba(29, 233, 182, 1);
    
}

.wbkit{
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.time {
  background-color: #00d0aa;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 6px;
  position: relative;
  z-index: 1;
}

.content h4 {
  font-size: 18px;
  font-weight: 600;

}


.timelinecontainer {
   position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
 position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px 0;
}

.timelineitem {
  margin-bottom: 40px;
  position: relative;
}

.timelineitem::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #00d0aa;
  border-radius: 50%;
  position: absolute;
  left: -6px;
  top: 6px;
  z-index: 1;
}

.time {
  background-color: #00d0aa;
  color: white;
  padding: 5px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 6px;
}

.h3 {
  font-size: 18px;
  margin: 4px 0;
  font-weight: 600;
}

.p {
  font-size: 14px;
  color: #666;
  margin: 4px 0;
}
